<div class="panel panel-default">
  <div class="panel-heading">
    <span>{{title}}</span>
  </div>

  <div class="panel-body">
    <div class="list-group">
      {{yield}}
    </div>
  </div>
</div>
