<div class="panel panel-default results-box">
  <div class="panel-heading">
    <i {{bind-attr class=":fa titleIcon"}}></i><span>{{title}}</span>
  </div>

  <div class="panel-body">
    <div class="list-group">
      {{yield}}
    </div>
  </div>
</div>
