<div class="panel panel-default results-box">
  {{#unless noHeading}}
    <div class="panel-heading">
      <i {{bind-attr class=":fa titleIcon"}}></i><span>{{title}}</span>
    </div>
  {{/unless}}

  <div class="panel-body">
    <div class="list-group">
      {{yield}}
    </div>
  </div>
</div>
