<div class="input-group custom-search-form">
  {{input type="text" value=query class="form-control" placeholder="Search..."}}
  <span class="input-group-btn">
    <button {{action "fireSearch"}} class="btn btn-default" type="button">
      <i class="fa fa-search"></i>
    </button>
  </span>
</div>
