dropdown-size =
  width 310px
  min-width 0

dropdown-responsive =
  margin-left auto

.navbar
  &.navbar-default
    margin-bottom 0

.navbar-top-links
  li
    display inline-block
    &:last-child
      margin-right 15px
    a
      padding 15px
      min-height 50px
    .dropdown-menu
      li
        display block
        &:last-child
          margin-right 0
        a
          padding 3px 20px
          min-height 0
          div
            white-space normal

.login-panel
  margin-top 25%
