sidebar-nav-border =
  border-bottom 0!important

.col-sidebar
  padding 0

.sidebar
  .sidebar-nav
    &.navbar-collapse
      padding-right 0
      padding-left 0

  .sidebar-search
    padding 15px

  ul
    li
      border-bottom 1px solid color-border-main
      a
        &.active
          background-color color-nav-active

  .arrow
    float right

  .fa
    &.arrow
      &:before
        content "\f104" /*replace with fa classes */

  .active
    >a
      >.fa
        &.arrow
          &:before
            content "\f107" /*replace with fa classes */

  .nav-second-level
    li
      {sidebar-nav-border}
      a
        padding-left 37px

  .nav-third-level
    li
      {sidebar-nav-border}
      a
        padding-left 52px

  .ribbon
    background-color
    overflow hidden
    white-space nowrap
    span
      border 1px solid
      color #fff
      display block
      padding 10px 50px
      text-align center

    &.unstable
      background-color color-ribbon-unstable-back
      span
        border 1px solid color-ribbon-unstable-inner

    &.stable
      background-color color-ribbon-stable-back
      span
        border 1px solid color-ribbon-stable-inner

  // @media screen and (min-width: media-min-width)
  //   z-index 1
  //   position absolute
  //   width 200px
  //   margin-top 51px
