sidebar-nav-border =
  border-bottom 0!important

.col-sidebar
  padding 0

.sidebar
  .sidebar-nav
    &.navbar-collapse
      padding-right 0
      padding-left 0

  .sidebar-search
    padding 1em 1em 0 1em

  ul
    margin-top 1em
    li
      a
        margin 0 1em
        color #777
        border-left 2px solid #ddd
        &.active
          color color-hexo-light-blue
          border-left-color color-hexo-light-blue

  .nav-second-level
    li
      {sidebar-nav-border}
      a
        padding-left 37px

  .nav-third-level
    li
      {sidebar-nav-border}
      a
        padding-left 52px

  .ribbon
    background-color
    overflow hidden
    white-space nowrap
    span
      border 1px solid
      color #fff
      display block
      padding 10px 50px
      text-align center

    &.unstable
      background-color color-ribbon-unstable-back
      span
        border 1px solid color-ribbon-unstable-inner

    &.stable
      background-color color-ribbon-stable-back
      span
        border 1px solid color-ribbon-stable-inner
