color-hexo-light-blue = #0e83cd

color-bg-main = #f8f8f8
color-bg-content = #fff
color-border-main = #e7e7e7
color-nav-active = #eee
color-text = #444
color-links = color-hexo-light-blue
color-links-hover = color-hexo-light-blue

color-btn-primary = #428bca
color-btn-success = #5cb85c
color-btn-info = #5bc0de
color-btn-warning =  #f0ad4e
color-btn-danger = #d9534f
color-btn-hover = #fff

color-panel-trending = #f0ad4e
color-panel-trending-a-hover = #df8a13
color-panel-new = #5cb85c
color-panel-new-a-hover = #3d8b3d
color-panel-updated = #428bca
color-panel-updated-a-hover = #2a6496
color-panel-popular = #d9534f
color-panel-popular-a-hover = #b52b27

color-ribbon-stable-back = #49A34B
color-ribbon-stable-inner = #71D161
color-ribbon-unstable-back = #a00
color-ribbon-unstable-inner = #faa
