hover-btn =
  color color-btn-hover

body
  background-color color-bg-main

#wrapper
  width 100%

  #page-wrapper
    padding 0 15px
    min-height 568px
    background-color color-bg-content

    @media screen and (min-width: media-min-width)
      position inherit
      margin 0 0 0 200px
      padding 0 30px
      border-left 1px solid color-border-main

    .page-content
      padding-top 30px

.panel
  .slidedown
    .glyphicon
      margin-right 5px
