hover-btn =
  color color-btn-hover

html
  height 100%

body
  background-color color-bg-main
  color color-text
  font-family "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif
  min-height 100%
  a
    color color-links
    &:hover
      color color-links-hover
  h1, h2, h3, h4
    font-family Lato, "Helvetica Neue", Helvetica, Arial, sans-serif
    font-weight 100
  h4
    font-weight 400

.col-app-outlet
  padding 1.5em

.wrapper
  width 100%

  .page-wrapper
    padding 0 15px
    background-color color-bg-content

.panel
  .slidedown
    .glyphicon
      margin-right 5px

.hpm
  color color-hexo-light-blue
