.huge
  font-size 40px

.panel-trending, .panel-new, .panel-updated, .panel-popular
  .panel-heading
    color #fff
  ul
    margin 0
    padding 10px
    list-style none
    li
      a
        text-decoration none

.panel-trending
  border-color: color-panel-trending
  .panel-heading
    border-color color-panel-trending
    background-color color-panel-trending
  a
    color color-panel-trending
    &:hover
      color color-panel-trending-a-hover

.panel-new
  border-color: color-panel-new
  .panel-heading
    border-color color-panel-new
    background-color color-panel-new
  a
    color color-panel-new
    &:hover
      color color-panel-new-a-hover

.panel-updated
  border-color: color-panel-updated
  .panel-heading
    border-color color-panel-updated
    background-color color-panel-updated
  a
    color color-panel-updated
    &:hover
      color color-panel-updated-a-hover

.panel-popular
  border-color: color-panel-popular
  .panel-heading
    border-color color-panel-popular
    background-color color-panel-popular
  a
    color color-panel-popular
    &:hover
      color color-panel-popular-hover
