.index
  .header-row
    border-bottom 1px solid #eee
    margin-bottom 20px
    h1
      border-bottom none
      margin 40px 0 10px
    h4
      margin-bottom 40px

  .custom-search-form
    margin 20px 0 20px 0
    input, button
      height 50px
      font-size 30px
    .btn
      padding 0 12px

  .search-row
    margin 20px 0 20px 0
