.index
  .header-row
    // border-bottom 1px solid #eee
    // margin-bottom 1.5em
    h1
      border-bottom none
      margin 1em 0 0.5em
    h4
      margin-bottom 1em

  .custom-search-form
    margin 1em 0
    input, button
      height 2em
      font-size 2em
    .input-group-btn
      font-size 1em

  .search-row
    margin 2em
