<div class="row">
  <h4>1. Download <span class="hpm">hpm</span></h4>
  <p>
    Follow the instructions {{#link-to 'installation'}}here{{/link-to}}.
  </p>
</div>
<div class="row">
  <h4>2. Execute the installer</h4>
  <div class="installer-terminal">
    <ul>
      <li>
        cd my-hexo-blog
      </li>
      <li>
        hpm install {{packageName}}
      </li>
    </ul>
  </div>
</div>
